<div class="row">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmitForm()">
    <div class="offset-5">
      <div class="form-group">
        <label for="titre">Titre </label>
        <input type="text" id="titre" class="form-control" formControlName="titre">
      </div>
      <div class="form-group">
        <label for="contenu">Exprimez vous !</label>
        <textarea class="form-control" id="contenu" rows="3" formControlName="contenu"></textarea>


        <button type="submit" class="btn btn-primary" [disabled]="messageForm.invalid">Envoyez</button>
      </div>
    </div>
  </form>

</div>