<div class="container-fluid bg-dark text-white text-center">
  <div class="row">
    <div class="col-8 offset-2">
      <h1> Bienvenue sur le réseaux social de Groupania ! </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <form [formGroup]="authForm" (ngSubmit)="onSubmitForm()">
        <label for="email"> adresse mail : </label> <input name="email" type="email"class="form-control" formControlName="email">
        <label for="password"> Mot de passe : </label> <input name="password" type="password" class="form-control" formControlName="motDePasse"> 
        
        <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid">Connexion</button>     </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-1">
      <a routerLink="/newUser" routerLinkActive="active"> Pas encore inscrit ? </a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="offset-5">
      <img src="../../assets/icon-left-font-monochrome-black_opt.png" alt="">
    </div>
  </div>


</div>