<div class="container-fluid bg-dark text-white text-center">
  <div class="row">
    <div class="col-8 offset-2">
      <h1> Bienvenue sur le réseaux social de Groupania ! </h1>
    </div>
  </div>

  <form action="authPurchasser" method="POST">
    <label for="email"> adresse mail : </label> <input name="email" type="email"> <label for="password"> Mot de passe :
    </label> <input name="password" type="password"> <input type="submit" value="connection">
  </form>
  <div class="row">
    <div class="col-md-10 offset-1">
      <a routerLink="/newUser" routerLinkActive="active"> Pas encore inscrit ? </a>

    </div>




  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="offset-5">
      <img src="../../assets/icon-left-font-monochrome-black_opt.png" alt="">
    </div>
  </div>


</div>