<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" *ngFor="let message of messages">
            <h2> Liste des différents posts postés par vos collègues  </h2>
            <div class="post-preview">
                <a [routerLink]="['message', message.id]" routerLinkActive="active">
                    <h2 class="post-title"> {{message.titre}}
                    </h2>
                </a>

                <p class="post-meta">Posté par {{ message.user.pseudo}} le {{message.messageDate}}



                    <span *ngIf="message.user.pseudo == user.pseudo || user.admin == 1"> <button
                            (click)="deleteMessage(message.id)" class="btn btn-primary">supprimez</button> </span>

            </div>
            <hr>
        </div>