<div class="row text-center my-4 py-4">
    <div class=" col mx-auto">
        <h2> Liste des différents posts de vos collègues </h2>
        <hr>
        <div class="post-preview" *ngFor="let message of messages">
            <a [routerLink]="['message', message.id]" routerLinkActive="active">
                <h2 class="post-title redGroupomania"> {{message.titre}}
                </h2>
            </a>

            <p class="post-meta">Posté par {{ message.user.pseudo}} le {{message.messageDate}}



                <span *ngIf="message.user.pseudo == user.pseudo || user.admin == 1"> <button
                        (click)="deleteMessage(message.id)" class="btn btn-primary">supprimez</button> </span>

        </div>
        <hr>
    </div>
</div>