<nav class="navbar navbar-expand navbar-dark bg-dark  text-center">
    <a class="navbar-brand" href="/">Groupomania</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container-fluid">
    <app-auth></app-auth>
    <div class="row">
        <div class="col">
            <a routerLink="/newUser" routerLinkActive="active"> Pas encore inscrit(e) ? </a>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 offset-md-5">
            <img src="../../../assets/Webp.net-resizeimage (6).png" class="img-fluid" alt="">
        </div>
    </div>
</div>