<div class="container-fluid bg-dark">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" routerLink="/homePage">Groupomania</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/homePage">Acceuil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/compte">compte</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" (click)="offline()">déconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="container-fluid">
    <form #monForm=ngForm (ngSubmit)="deleteAccount()">
        <div>
            Nom : <input type=text name=nom [(ngModel)]=user.nom required #nom="ngModel">
        </div>
        <div>
            Prénom : <input type=text name=prenom [(ngModel)]=user.prenom required #prenom="ngModel">
        </div>
        <div>
            Pseudo : <input type=text name=pseudo [(ngModel)]=user.pseudo required #pseudo="ngModel">
        </div>
        <div>
            adresseMail : <input type=text name=_email [(ngModel)]=user.email required #email="ngModel">
        </div>

        <div>
            <button class='btn btn-primary' [disabled]=!monForm.valid>
                Supprimer le compte
            </button>
        </div>
    </form>
</div>