<nav class="navbar navbar-expand-lg navbar-dark blueGroupomania">
    <a class="navbar-brand" routerLink="/homePage">Groupomania</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/homePage">Acceuil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/compte">compte</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" (click)="offline()">déconnexion</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container bg-redGroupomania text-white ">
    <div class="row  py-4 my-4 text-center">
        <div class="col">
            <form #monForm=ngForm (ngSubmit)="deleteAccount()">
                <div class="form-group">
                  <label for="nom"> Nom :</label>  <input class="col"  type=text name=nom [(ngModel)]=user.nom required #nom="ngModel">
                </div>
                <div class="form-group">
                <label for="prenom">Prenom :</label> <input class="col"  type=text name=prenom [(ngModel)]=user.prenom required #prenom="ngModel">
                </div>
                <div class="form-group">
                    <label for="pseudo">Pseudo :</label> <input class="col" type=text name=pseudo [(ngModel)]=user.pseudo required #pseudo="ngModel">
                </div>
                <div class="form-group">
                <label for="_email">   AdresseMail : </label>  <input class="col" type=text name=_email [(ngModel)]=user.email required #email="ngModel">
                </div>

                <div class="text-center">
                    <button class='btn btn-light' [disabled]=!monForm.valid>
                        Supprimer le compte
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>