<form [formGroup]="authForm" class="bg-redGroupomania text-white my-2" (ngSubmit)="onSubmitForm()">
<h3 class=" text-center"> Connexion </h3>
  <div class="form-group">
    <label for="email"> Mail : </label> <input name="email" type="email" class="form-control" formControlName="email"
    placeholder="Entrez votre email">
   </div>
  <div class="form-group">
    <label class="px-2" for="motDePasse"> Mot de passe : </label> <input name="motDePasse" type="password"
      class="form-control" formControlName="motDePasse" placeholder="Entrez votre mot de passe ">
  </div>
<div class="form-group text-center">
  <button type="submit" class="btn btn-success " [disabled]="authForm.invalid">Connexion</button>
</div>
</form>