<div class="container-fluid bg-dark">
  <div class="row">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="/homePage">Groupomania</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/homePage">Acceuil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/compte">compte</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" (click)="offline()">déconnexion</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="offset-5">
      <img src="../../assets/icon-left-font-monochrome-black_opt.png" alt="">
      <h3> Bienvenue {{user.prenom}} {{user.nom}}</h3>
      il est {{maDate | date:' hh ' }} heures et {{maDate | date:' mm ' }} minutes

    </div>
  </div>
  <app-new-message></app-new-message>
  <app-get-all-message></app-get-all-message>
</div>